@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --font: 'Rubik', sans-serif;
    --primary: #006cff;
    --primary-light: #247cf8;
    --text: #091E42;
    --background: #fff;
    --accent-1: #F4F5F7;
    --accent-2: #DFE1E6;
    --accent-3: #A5ADBA;
    --accent-4: #8993A4;
    --accent-5: #5E6C84;
    --accent-6: #344563;
    --accent-7: #172B4D;
    --accent-8: #091E42;

    --bg-dark: #11111e;

    --radius: 3px;
    --shadow: 0 2px 4px 0 rgba(207, 215, 230, 0.4);
    --shadow-lg: 2px 4px 8px 0 rgba(207, 215, 230, 0.4);
    ;
}

body {
    font-family: 'Rubik', sans-serif !important;
    color: var(--text) !important;
}

.btn {
    border-radius: var(--radius) !important;
}

.btn-primary {
    box-shadow: none !important;
    color: var(--background) !important;
    font-weight: 500 !important;
    background-color: var(--primary) !important;
    text-align: left !important;
    border: none !important;
    height: 48px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px !important;
    transition: 250ms;
    min-width: 100px;
}

.btn-primary:hover {
    box-shadow: none !important;
    background-color: var(--primary-light) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px !important;
    transform: scale(1.02);
}

.btn-primary:active {
    background-color: var(--primary-light) !important;
    transform: scale(0.98);
}

.btn:hover {

    transform: scale(1.02);
}

.btn:active {
    transform: scale(0.98);
}

.btn-secondary {
    box-shadow: var(--shadow) !important;
    background-color: var(--accent-2) !important;
    color: var(--accent-8) !important;
    border: 1px solid var(--accent-2) !important;
    height: 32px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px !important;
    transition: 250ms;
}


.form-control {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    box-shadow: none !important;
    border: 2px solid var(--accent-2) !important;
    border-radius: var(--radius) !important;
    color: var(--text) !important;
    font-size: 14px !important;
    min-height: 48px;
    opacity: 1;
}

.form-control:hover {
    margin-right: 50px;
    border: 2px solid var(--accent-3) !important;
    opacity: 0.86;
}
.form-control:focus {
    border: 2px solid var(--accent-4) !important;
    box-shadow: none !important;
    opacity: 1;
}

.text-muted {
    color: var(--accent-4) !important;
}

#sidebar {
    height: 100% !important;
    background-color: var(--accent-1);
    border-right: 1px solid var(--accent-1);
    position: fixed !important;
    width: 20vw;
    overflow: auto;
}

#mainarea {
    background-color: #FAFBFC !important;
    overflow-y: auto !important;
    margin-left: 20vw;
    /*background-image: radial-gradient(var(--accent-1) 1px, var(--background) 1px);*/
    background-attachment: scroll;
    background-size: 20px 20px;
}

.full-height {
    height: 100vh !important;
}

.nav-dash {
    color: var(--accent-5) !important;
    border-radius: var(--radius) !important;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    box-shadow: none !important;
}

.nav-dash.active {
    background-color: var(--accent-2) !important;
    font-weight: 700 !important;
    color: var(--accent-7) !important;
   /* border-left: 2px solid var(--primary);*/
    font-weight: 600;
}

.nav-dash:hover {
    color: var(--accent-6) !important;
}

.nav-dash.active:hover {
    color: var(--accent-7) !important;
}

.nav-dash:active {
    transition: 0.2s ease-in;
    transform: scale(0.99);
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--text) !important;
    background: yellow !important;
}

::selection {
    color: #3ca5f9 !important;
    background: #3ca4f918 !important;
}

select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 8px !important;
    background: url(../img/unfold.svg) 99% / 3% no-repeat;
    background-repeat: no-repeat;
}

label {
    font-size: 12px !important;
    color: var(--accent-5) !important;
    margin-bottom: 4px !important;

}

.form-check-label {
    font-size: 14px !important;
    color: var(--accent-5) !important;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: 8px, 8px, 8px, 8px !important;
    font-weight: 400;
    line-height: 1.5;
    color: var(--accent-5);
    background-color: var(--background);
    border: 1px solid var(--accent-2);
    border-radius: var(--radius) !important;
}

.ic {
    height: 14px;
    width: 14px;
}

.top-top {
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(18px);
    z-index: 999;
}

.breadcrumb {
    background-color: transparent !important;
    padding: 0px !important;
}

.breadcrumb-item>a {
    font-size: 14px !important;
    color: var(--accent-5) !important;
}

.breadcrumb-item.active {
    font-size: 14px !important;
    color: var(--primary) !important;
}

.red {
    filter: invert(43%) sepia(28%) saturate(381%) hue-rotate(179deg) brightness(90%) contrast(87%);
}

.btn-nv {
    font-size: 32px !important;
    margin-left: 10px;
    border-radius: var(--radius);
    padding: 4px;
    cursor: pointer;
}

.btn-nv:hover {
    opacity: 0.8;
}

.card {
    border: 2px solid var(--accent-2);
    border-radius: var(--radius);
    box-shadow: none;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid var(--accent-1) !important;
    box-sizing: border-box;
    font-family: var(--font) !important;
    padding: 8px;
}

.ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: var(--accent-5) !important;
}

.ql-toolbar .ql-fill {
    fill: var(--accent-5) !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: var(--accent-5) !important;
}

svg:hover .ql-stroke {
    fill: none !important;
    stroke: var(--primary) !important;
}

svg:hover .ql-fill {
    fill: var(--primary) !important;
    stroke: none !important;
}

pre {
    background-color: var(--accent-1) !important;
    color: var(--accent-8) !important;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
    background-color: var(--bg-dark);
    opacity: 1;
    background-size: 100px 100px;
    background-image: repeating-linear-gradient(to right, rgba(24, 24, 43, 0.46), rgba(24, 24, 43, 0.46) 2px, var(--bg-dark) 2px, var(--bg-dark));
}

.bg-dark-text {
    color: #f6f6f8 !important;
}

.bg-dark-p {
    color: #ddddf2 !important;
}

.btn-dark-primary {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    color: var(--background) !important;
    font-weight: 600 !important;
    background-color: transparent !important;
    background: linear-gradient(#2286d6, #2286d6);
    border: none !important;
    height: 40px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px !important;
    transition: 250ms;
}

.btn-dark-secondary {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    color: #77cee1 !important;
    font-weight: 600 !important;
    background-color: rgba(255, 255, 255, 0.062) !important;
    border: none !important;
    height: 40px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 14px !important;
    transition: 250ms;
}

.midd {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-gradient-1 {
    background: linear-gradient(-209.21deg, rgba(110, 131, 163, 0.17), #101f35);
    border-radius: var(--radius);
}

.bg-gradient-2 {
    background: linear-gradient(209.21deg, rgb(159, 127, 229) 13.57%, rgb(78, 153, 227) 98.38%);
    border-radius: var(--radius);
}

.bg-gradient-3 {
    background: linear-gradient(209.21deg, rgb(75, 190, 255) 13.57%, rgb(33, 107, 218) 98.38%);
    border-radius: var(--radius);
}

.text-green {
    color: #77cee1 !important;
}